
// Primary
$primary-100: var(--primary);

// Red
$red-100: var(--red);

// Orange
$orange-100: var(--orange);

// Yellow
$yellow-100: var(--yellow);

// Green
$green-100: var(--green);

// Blue
$blue-100: var(--blue);

// Violet
$violet-100: var(--violet);

// White
$white: var(--white);
