// root colors
:root {
  --primary: #000d24;

  --red: #c41a1e;

  --orange: #ed811d;

  --yellow: #EAB30B;

  --green: #21917f;

  --blue: #1d4ed8;

  --violet: #564ac3;

  --white: #ffffff;
}

@import "variables";
